body {
  background: rgba(250, 250, 250, 1);
}

.ToDoElement {
  border-bottom: 2px solid #3f51b5 !important;
}

.ToDoElement:hover {
  background: rgba(250, 250, 250, 1);
  transition: all 0.1s;
  cursor: pointer;
  box-shadow: 1px 1px 8px 0px rgb(228 228 228);
}
